<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}} gallery</title>
    <style>
       {{.Styles}}
    </style>
    <style>
      .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax({{.PageSettings.GridSize}}, 1fr));
      }
    </style>
  </head>
  <body>
    <section class="controlls">
      <a class="back" href="{{.BackLink}}">Back</a>
      <form id="filter" method="get">
        <label>Filter</label>
        <input
          id="filter-input"
          type="text"
          name="filter"
          placeholder="post, story, igtv, mp4, jpg"
          title="Filter media that contain provided filter in its name. Typical media name is story_12345_0.jpg which follow the template {type}_{unix_timestamp}_{index}.{ext}"
        />
        <button id="set-filter" type="submit">Apply</button>
      </form>
    </section>
    <section class="gallery">
      {{range .Images}}
      <div class="image">
        <!-- <p>{{.PublicPath}}</p> -->
        <a href="{{.UrlPath}}">
          {{if isImage .FileName}}
          <img class="lazy" src="" data-url="{{.PublicPath}}" />
          {{else if isVideo .FileName}}
          <video class="lazy" src="" data-url="{{.PublicPath}}" muted autoplay loop />
          {{end}}
        </a>
      </div>
      {{end}}
    </section>
    <script>
      const backLink = document.querySelector(".back");

      document.addEventListener("keydown", (e) => {
        if (e.keyCode == "37") {
          // left
        } else if (e.keyCode == "39") {
          // right
        } else if (e.keyCode == "38") {
          // up
          backLink.click();
        }
      });

      document.addEventListener("DOMContentLoaded", () => {
        const lazyMediaEls = document.querySelectorAll(".lazy");

        if ("IntersectionObserver" in window) {
          let mediaLoadObs = new IntersectionObserver(function (entries, observer) {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.setAttribute("src", entry.target.dataset.url);
                mediaLoadObs.unobserve(entry.target);
              }
            });
          });

          lazyMediaEls.forEach((el) => {
            mediaLoadObs.observe(el);
          });
        }
      });

      (function preserveScrollPosition() {
        // Save scroll position and query params when the page is unloaded (e.g., on reload)
        window.addEventListener("beforeunload", function () {
          sessionStorage.setItem("scrollPos", window.pageYOffset);
          sessionStorage.setItem("queryParams", window.location.search);
        });

        // Restore scroll position on back navigation
        window.addEventListener("popstate", function (event) {
          if (event.state && event.state.scrollPos) {
            window.scrollTo(0, event.state.scrollPos);
          }
        });

        // Restore scroll position when the new page loads
        window.addEventListener("load", function () {
          const scrollPos = sessionStorage.getItem("scrollPos");
          if (scrollPos) {
            window.scrollTo(0, scrollPos);
            sessionStorage.removeItem("scrollPos");
          }
        });
      })();

      function setCookie(name, value, days) {
        var expires = "";
        if (days) {
          var date = new Date();
          date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
          expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
      }
      
      function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(";");
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == " ") c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }

      function eraseCookie(name) {
        document.cookie = name + "=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;";
      }

      const input = document.getElementById("filter-input");
      document.getElementById("set-filter").addEventListener("click", function() {
        setCookie("filter", input.value);
      });

      input.value = getCookie("filter");

      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const filterFromURL = urlParams.get('filter')

      if (filterFromURL) {
        setCookie("filter", filterFromURL);
        input.value = filterFromURL;
      }
    </script>
  </body>
</html>
