<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Post</title>
  <meta property="og:image" content="https://codercat.xyz{{.Image.Cur.PublicPath}}">

  <style>
    {{.Styles}}
  </style>
</head>

<body>
  <!-- <details class="hotkeys">
    <summary>Hotkeys</summary>
    <ul>
      <li>&larr; &rarr; - previous or next post</li>
      <li>&uarr; - go back to the gallery</li>
      <li>M - toggle sound on videos</li>
    </ul>
  </details> -->

  <div class="ct">
    <div class="main">
      {{if isImage .Image.Cur.FileName}}
      <img src="{{.Image.Cur.PublicPath}}" />
      {{else if isVideo .Image.Cur.FileName}}
      <video src="{{.Image.Cur.PublicPath}}" controls muted autoplay loop />
      {{end}}
    </div>
  </div>

  <div class="navbar">
    <div class="left">
      {{if ne .Image.Prev.FileName ""}}
      <a class="btn prev" href="{{.Image.Prev.UrlPath}}">Prev</a>
      {{end}}
    </div>
    <a class="btn back" href="{{.BackLink}}">Back</a>
    <div class="right">
      {{if ne .Image.Next.FileName ""}}
      <a class="btn next" href="{{.Image.Next.UrlPath}}">Next</a>
      {{end}}
    </div>
  </div>

  <script>
    const nextLink = document.querySelector(".next");
    const prevLink = document.querySelector(".prev");
    const videoEl = document.querySelector("video");

    function goBackToGalery() {
      let backLink = "{{.BackLink}}"

      // Restore query parameter from session storage
      const queryParams = sessionStorage.getItem("queryParams");
      if (queryParams) {
        backLink = "{{.BackLink}}/" + queryParams
      }

      window.location.replace("{{.BackLink}}/" + queryParams);
      sessionStorage.removeItem("queryParams");
    }

    document.addEventListener("keydown", (e) => {
      switch (e.key) {
        case "ArrowLeft":
          prevLink.click();
          break;
        case "ArrowRight":
          nextLink.click();
          break;
        case "ArrowUp": {
          goBackToGalery();
          break;
        }
        case "m":
          videoEl.muted = !videoEl.muted;
          break;
      }
    });
  </script>
</body>

</html>