<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <meta property="og:image" content="https://codercat.tk{{.Image.Cur.PublicPath}}">

    <style>
       {{.Styles}}
    </style>
  </head>
  <body>
    <details class="hotkeys">
      <summary>Hotkeys</summary>
      <ul>
        <li>&larr; &rarr; - previous or next post</li>
        <li>&uarr; - go back to the gallery</li>
        <li>M - toggle sound on videos</li>
      </ul>
    </details>

    <div class="ct">
      <div class="main">
        {{if isImage .Image.Cur.Name}}
        <img src="{{.Image.Cur.PublicPath}}" />
        {{else if isVideo .Image.Cur.Name}}
        <video src="{{.Image.Cur.PublicPath}}" controls muted autoplay loop />
        {{end}}
      </div>
    </div>

    <div class="navbar">
      <div class="left">
        {{if ne .Image.Prev.Name ""}}
        <a class="prev" href="{{.Image.Prev.PageLink}}">Prev</a>
        {{end}}
      </div>
      <a class="back" href="/gallery/{{.User}}/{{.Year}}">Back</a>
      <div class="right">
        {{if ne .Image.Next.Name ""}}
        <a class="next" href="{{.Image.Next.PageLink}}">Next</a>
        {{end}}
      </div>
    </div>

    <script>
      const backLink = document.querySelector(".back");
      const nextLink = document.querySelector(".next");
      const prevLink = document.querySelector(".prev");
      const videoEl = document.querySelector("video");

      document.addEventListener("keydown", (e) => {
        console.log(e.code);
        if (e.keyCode == "37") {
          // left
          prevLink.click();
        } else if (e.keyCode == "39") {
          // right
          nextLink.click();
        } else if (e.keyCode == "38") {
          // up
          const queryParams = sessionStorage.getItem("queryParams");
          if (queryParams) {
            window.location.replace("/gallery/{{.User}}/{{.Year}}/" + queryParams);
            sessionStorage.removeItem("queryParams");
          }
        } else if (e.code == "KeyM") {
          videoEl.muted = !videoEl.muted;
        }
      });
    </script>
  </body>
</html>
