<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Year}} gallery</title>
    <style>
      {{.Styles}}
    </style>
  </head>
  <body>
    <a class="back" href="/gallery/{{.User}}">Back</a>
    <div class="gallery">
      {{range .Images}}
      <div class="image">
        <!-- <p>{{.PublicPath}}</p> -->
        <a href="{{.PageLink}}">
          {{if isImage .Name}}
          <img class="lazy" src="" data-url="{{.PublicPath}}" />
          {{else if isVideo .Name}}
          <video class="lazy" src="" data-url="{{.PublicPath}}" muted autoplay loop controls />
          {{end}}
        </a>
      </div>
      {{end}}
    </div>
    <script>
      const backLink = document.querySelector('.back');

      document.addEventListener("keydown", (e) => {
        if (e.keyCode == "37") {
          // left
        } else if (e.keyCode == "39") {
          // right
        } else if (e.keyCode == "38") {
          // up
          backLink.click()
        }
      });

      document.addEventListener("DOMContentLoaded", () => {
        const lazyMediaEls = document.querySelectorAll(".lazy");

        if ("IntersectionObserver" in window) {
          let mediaLoadObs = new IntersectionObserver(function (entries, observer) {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.setAttribute("src", entry.target.dataset.url);
                mediaLoadObs.unobserve(entry.target);
              }
            });
          });

          lazyMediaEls.forEach((el) => {
            mediaLoadObs.observe(el);
          });
        }
      });
    </script>
  </body>
</html>
