.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.grid .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    aspect-ratio: 1/1;
    overflow: auto;
    min-width: 0;
}

.grid .cell:hover {
    cursor: pointer;
    filter: invert();
}

a {
    text-decoration: none;
}

h2 {
    color: black;
}