<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="https://codercat.xyz/favicon.png">
    <title>{{.Title}}</title>
    <style>
       {{.Styles}}
    </style>
    <style>
      .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax({{.GridSize}}, 1fr));
      }
    </style>
  </head>
  <body>
    <section class="controls">
      {{if ne .BackLink "/"}}
      <a class="nav-back" href="{{.BackLink}}">Back</a>
      {{end}}
      <form id="filter" method="get">
        <label>Filter</label>
        <input
          id="filter-input"
          type="text"
          name="filter"
          placeholder="e.g. post, story, igtv, mp4, jpg"
          title="Filter media by keyword in the file name. Typical media name is story_12345_0.jpg which follow the template {type}_{unix_timestamp}_{index}.{ext}"
        />
        <button id="set-filter" type="submit">Apply</button>
        <button id="clear-filter">Clear</button>
      </form>
    </section>
    <section class="gallery">
      {{range .Images}}
      <a href="{{.AbsolutePageURL}}{{$.URLParam}}">
        <div class={{.Type}}>
          
          {{if eq .Type "Image"}}
          <img class="lazy" data-url="{{.PublicPath}}" />
          {{else if eq .Type "Video"}}
          <video class="lazy" data-url="{{.PublicPath}}" muted autoplay loop />
          {{else if eq .Type "Other"}}
          <p class="dir">{{.DirName}}</p>
          {{end}}
          
        </div>
      </a>
      {{end}}
    </section>
    <script>
      {{.JS}}
    </script>
  </body>
</html>
