<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{.Title}}</title>
  <meta property="og:image" content="{{.Image.Cur.PublicPath}}">

  <style>
    {{.Styles}}
  </style>
</head>

<body>
  <a class="nav-back" href="{{.BackLink}}{{.URLParam}}" >
    <div class="nav-icon">^</div>
  </div>

  <div class="container">
    {{if ne .Image.Prev.FileName ""}}
    <a class="nav-prev" href="{{.Image.Prev.AbsolutePageURL}}{{.URLParam}}">
      <div class="nav-icon"><</div>
    </a>
    {{end}}

    <div class="main">
      {{if eq .Image.Cur.Type "Image"}}
      <img src="{{.Image.Cur.PublicPath}}" />
      {{else if eq .Image.Cur.Type "Video"}}
      <video src="{{.Image.Cur.PublicPath}}" controls muted autoplay loop />
      {{end}}
    </div>

    {{if ne .Image.Next.FileName ""}}
    <a class="nav-next" href="{{.Image.Next.AbsolutePageURL}}{{.URLParam}}">
      <div class="nav-icon">></div>
    </a>
    {{end}}
  </div>

  <script>
    {{.JS}}
  </script>
</body>

</html>