<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Post</title>
  <meta property="og:image" content="https://codercat.xyz{{.Image.Cur.PublicPath}}">

  <style>
    {{.Styles}}
  </style>
</head>

<body>
  <!-- <details class="hotkeys">
    <summary>Hotkeys</summary>
    <ul>
      <li>&larr; &rarr; - previous or next post</li>
      <li>&uarr; - go back to the gallery</li>
      <li>M - toggle sound on videos</li>
    </ul>
  </details> -->

  <div class="ct">
    <div class="main">
      {{if isImage .Image.Cur.FileName}}
      <img src="{{.Image.Cur.PublicPath}}" />
      {{else if isVideo .Image.Cur.FileName}}
      <video src="{{.Image.Cur.PublicPath}}" controls muted autoplay loop />
      {{end}}
    </div>
  </div>

  <div class="navbar">
    <div class="left">
      {{if ne .Image.Prev.FileName ""}}
      <a class="btn prev" href="{{.Image.Prev.AbsolutePageURL}}">Prev</a>
      {{end}}
    </div>
    <a class="btn back" href="{{.BackLink}}">Gallery</a>
    <div class="right">
      {{if ne .Image.Next.FileName ""}}
      <a class="btn next" href="{{.Image.Next.AbsolutePageURL}}">Next</a>
      {{end}}
    </div>
  </div>
  <script>
    {{.JS}}
  </script>
</body>

</html>